{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/tests",
    "**/dist",
    "**/coverage"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "branches": 30,
  "lines": 55,
  "functions": 37,
  "statements": 53
}