{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/tests",
    "**/dist",
    "**/coverage"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "branches": 25,
  "lines": 25,
  "functions": 25,
  "statements": 25
}